<div class="container">
    <div class="row">
        <div class="col-md-6">
            <nz-space nzDirection="vertical">
                <div class="card">
                    <!-- <nz-card *nzSpaceItem> -->
                    <div class="text-center">
                        <h1>Login</h1>
                        <h5>Enter your user name and password</h5>
                        <span style="color: red" *ngIf="statusMessage == true"> {{message}} </span>
                    </div>
                    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your username!">
                            <nz-input-group nzPrefixIcon="user">
                              <input type="text" nz-input formControlName="userName" placeholder="Username" onlyTextAndNumber/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your Password!">
                            <nz-input-group nzPrefixIcon="lock">
                              <input type="password" nz-input formControlName="password" placeholder="Password" autocomplete="on" appPassword/>
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                        <div nz-row class="login-form-margin">
                          <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="remember">
                              <span>Remember me</span>
                            </label>
                          </div>
                          <div nz-col [nzSpan]="12">
                            <a class="login-form-forgot">Forgot password</a>
                          </div>
                        </div>
                        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
                        Or
                        <a>register now!</a>
                      </form>
                    <!-- </nz-card> -->
                </div>
            </nz-space>
        </div>
    </div>
</div>